<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>

  <!-- Icons -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<section>

  <form action="/forgot-password" method="post">

    <!-- CSRF -->
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

    <h1>Forgot Password</h1>

    <!-- SUCCESS MESSAGE -->
    <p style="color: lightgreen;" th:if="${param.sent}">
      Reset link sent to your email
    </p>

    <!-- ERROR -->
    <p style="color: red;" th:if="${param.error}">
      Email not found
    </p>

    <!-- NOT VERIFIED -->
    <p style="color: red;" th:if="${param.notVerified}">
      Email not verified. Please verify your email to reset password.
    </p>

    <div class="inputbox">
      <ion-icon name="mail-outline"></ion-icon>
      <input type="email" name="email" required>
      <label>Email Address</label>
    </div>

    <button type="submit">Send Reset Link</button>

    <div class="register">
      <p>Remember your password? <a href="/login">Login</a></p>
    </div>

  </form>

</section>
</body>
</html>
