<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>

    <!-- Icons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<section>

    <form action="/reset-password" method="post">

        <!-- CSRF -->
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />

        <!-- TOKEN (VERY IMPORTANT) -->
        <input type="hidden" name="token" th:value="${token}" />

        <h1>Reset Password</h1>

        <!-- ERROR -->
        <p style="color:red;" th:if="${param.error}">
            Invalid or expired token
        </p>

        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="password" required>
            <label>New Password</label>
        </div>

        <div class="inputbox">
            <ion-icon name="lock-closed-outline"></ion-icon>
            <input type="password" name="confirmPassword" required>
            <label>Confirm Password</label>
        </div>

        <button type="submit">Update Password</button>

        <div class="register">
            <p><a href="/login">Back to Login</a></p>
        </div>
        <p style="color:red;" th:if="${param.error == 'expired'}">
            Reset link expired. Please request a new one.
        </p>

        <p style="color:red;" th:if="${param.error == 'match'}">
            Passwords do not match.
        </p>
    </form>

</section>
</body>
</html>